{% set header_image = page.media.images|first %}

{% extends 'partials/base.html.twig' %}

{% block content %}
    <!-- Spotlight -->
        <section class="spotlight bg-cover bg-size--cover" data-spotlight="fullscreen" style="background-image: url({{ header_image.url }});">
            <span class="mask bg-dark alpha-7"></span>
            <div class="spotlight-holder">
                <div class="container d-flex align-items-center px-0 py-lg">
                    <div class="col">
                        <div class="row row-grid">
                            <div class="col-lg-6">
                                <div class="pt-lg-md pb-lg-md text-center text-lg-left">
                                    <h2 class="heading display-4 text-white mb-4">About us</h2>
                                    <p class="lead lh-180 text-white">Want to learn a little more about us? You’ve come to the right place!</p>
                                    <div class="mt-5">
                                        <a href="#section_1" data-scroll-to data-scroll-to-offset="50" class="btn btn-white btn-circle px-5 mr-lg-4 box-shadow-2">Read more</a>
                                        <a href="https://www.youtube.com/watch?v=4TBd_A7lLH8" class="btn btn-outline-white btn-icon btn-circle px-4" data-fancybox>
                                            <span class="btn-inner--icon"><i class="fas fa-play"></i></span>
                                            <span class="btn-inner--text">Watch our video</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slice slice-lg bg-secondary" style="padding-bottom: 200px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="mb-md" id="section_1">
                            <h6 class="text-primary">Our company</h6>
                            <h3 class="h1 font-weight-400 lh-150 my-4">Who are we?</h3>
                            <p class="lead">Scope Web is an agency of designers, developers and content makers based in New York City & The Netherlands. We’re tucked away in the city, but don’t be fooled, over half of our clients are countryside based and we understand the difference. We’re not tied down to any one specific sector either, and we like it that way. It gives us a broader range of work to flex our creative muscles! After all, being creative is about solving a problem.</p>
                            <p class="lead">We offer a full range of services and can help you from the very creation of an idea through to delivery and on-going support. So whether it’s a brand and a campaign roll out, or a website design and build, we can work with you to create it.</p>
                            <p class="lead">We produce great design that achieves your objectives, all while having some fun along the way.</p>
                        </div>
                    </div>
                </div>
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <div class="card shadow">
                            <div>
                                <img src="{{ url('theme://images/team/about-img-1.jpg') }}" class="img-center img-fluid rounded shadow" alt="team image 1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow">
                            <div>
                                <img src="{{ url('theme://images/team/about-img-2.jpg') }}" class="img-center img-fluid rounded shadow" alt="team image 2">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow">
                            <div>
                                <img src="{{ url('theme://images/team/about-img-3.jpg') }}" class="img-center img-fluid rounded shadow" alt="team image 3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-container" data-shape-style="curve" data-shape-position="bottom">
                <svg class="shape-fill-white" fill="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path>
                </svg>
            </div>
        </section>
        <section class="slice slice-lg bg--size-contain">
            <div class="container">
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <h4>🔨 Crafted with purpose</h4>
                    </div>
                    <div class="col-lg-8">
                        <p class="lead lh-180">
                            We define ourselves by the work we produce. Everything has a purpose and it plays an important part in the work we create as a team. The skills and techniques we have learnt and the experiences we have gained throughout the years play a part in what we do.
                        </p>
                        <p class="lead lh-180">
                            To some, craft may be a strange word to use when talking about design in the modern sense. Craft is usually associated with traditional techniques such as carpentry or ironmongery. But in its essence, it’s about the care, skill, knowledge and technique in producing a final piece of work. Our tools may be different, but it’s these core elements that make us the same, and in that sense, we’re not unlike those traditional craftsmen after all.
                        </p>
                    </div>
                </div>
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <h4>🌎 We're a remote team</h4>
                    </div>
                    <div class="col-lg-8">
                        <p class="lead lh-180">
                            Tucked away behind our computers we're a fully remote team. We're lucky to have an amazing team that has strong communication and cultural differences that allow us to communicate with any client efficiently and respectfully.
                        </p>
                        <p class="lead lh-180">
                            The fact that you spend most of your life at work means it needs to be a place that you enjoy. Gone are the days of being glued to your desk. Some of our best ideas and thoughts have come from a chat in our library, a stroll in the nearby orchards, or after a heated game of Fortnite.
                        </p>
                    </div>
                </div>
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <h4>Awards</h4>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    <li class="lead py-1">2x Site of the day</li>
                                    <li class="lead py-1">5x UI Design award</li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    <li class="lead py-1">3x Site of the month</li>
                                    <li class="lead py-1">1x Webby award</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action -->
        {% include 'partials/cta.html.twig' %}
{% endblock %}