{% set header_image = page.media.images|first %}

{% extends 'partials/base.html.twig' %}

{% block content %}
    <!-- Spotlight -->
        <section class="spotlight bg-cover bg-size--cover" data-spotlight="fullscreen" style="background-image: url({{ header_image.url }});">
            <span class="mask bg-dark alpha-7"></span>
            <div class="spotlight-holder">
                <div class="container d-flex align-items-center px-0 py-lg">
                    <div class="col">
                        <div class="row row-grid">
                            <div class="col-lg-6">
                                <div class="pt-lg-md pb-lg-md text-center text-lg-left">
                                    <h2 class="heading display-4 text-white mb-4">About us</h2>
                                    <p class="lead lh-180 text-white">Want to learn a little more about us? You’ve come to the right place!</p>
                                    <div class="mt-5">
                                        <a href="/contact" class="btn btn-white btn-circle px-5 mr-lg-4 box-shadow-2">Contact us</a>
                                        <a href="https://www.youtube.com/watch?v=4TBd_A7lLH8" class="btn btn-outline-white btn-icon btn-circle px-4" data-fancybox>
                                            <span class="btn-inner--icon"><i class="fas fa-play"></i></span>
                                            <span class="btn-inner--text">Watch our video</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slice slice-lg bg-secondary" style="padding-bottom: 200px;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="mb-md text-center">
                            <h6 class="text-primary">Our company</h6>
                            <h3 class="h1 font-weight-400 lh-150 my-4">Don't settle for ordinary. Dare to live a magical life.</h3>
                            <p class="lead">Start building fast, beautiful and modern looking websites in no time using our theme.</p>
                        </div>
                    </div>
                </div>
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <div class="card shadow">
                            <div class="card-body py-5 px-lg-5">
                                <div>
                                    <div class="icon text-primary mb-3">
                                        <img src="{{ url('theme://images/icons/dusk/png/desktop-download.png') }}" class="img-fluid">
                                    </div>
                                    <h5 class="heading h5">Download Purpose</h5>
                                    <p>Some quick example text to build on the card title and make up the content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow">
                            <div class="card-body py-5 px-lg-5">
                                <div>
                                    <div class="icon text-primary mb-3">
                                        <img src="{{ url('theme://images/icons/dusk/png/paint-palette.png') }}" class="img-fluid">
                                    </div>
                                    <h5 class="heading h5">Change appearance</h5>
                                    <p>Some quick example text to build on the card title and make up the content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card shadow">
                            <div class="card-body py-5 px-lg-5">
                                <div>
                                    <div class="icon text-primary mb-3">
                                        <img src="{{ url('theme://images/icons/dusk/png/add-property.png') }}" class="img-fluid">
                                    </div>
                                    <h5 class="heading h5">Build your website</h5>
                                    <p>Some quick example text to build on the card title and make up the content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-container" data-shape-style="curve" data-shape-position="bottom">
                <svg class="shape-fill-white" fill="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
                    <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path>
                </svg>
            </div>
        </section>
        <section class="slice slice-lg bg--size-contain">
            <div class="container">
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <h4>History</h4>
                    </div>
                    <div class="col-lg-8">
                        <p class="lead lh-180">
                            She exposed painted fifteen are noisier mistake led waiting. Surprise not wandered speedily husbands although yet end. Are court tiled cease young built fat one man taken. We highest ye friends is exposed equally in. Ignorant had too strictly followed.
                        </p>
                        <p class="lead lh-180">
                            Form face evening above years for i fruitful us creature void days. Upon upon fruitful us fill earth was set tree above yielding to air image cattle seed night lesser saying. Gathered, fourth wherein air.
                        </p>
                    </div>
                </div>
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <h4>Expertise</h4>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    <li class="lead py-1">Branding</li>
                                    <li class="lead py-1">Art Direction</li>
                                    <li class="lead py-1">Marketing</li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    <li class="lead py-1">Branding</li>
                                    <li class="lead py-1">Art Direction</li>
                                    <li class="lead py-1">Marketing</li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    <li class="lead py-1">Branding</li>
                                    <li class="lead py-1">Art Direction</li>
                                    <li class="lead py-1">Marketing</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <h4>Awards</h4>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    <li class="lead py-1">10x Site of the day</li>
                                    <li class="lead py-1">5x UI Design award</li>
                                </ul>
                            </div>
                            <div class="col-lg-4">
                                <ul class="list-unstyled">
                                    <li class="lead py-1">3x Site of the month</li>
                                    <li class="lead py-1">1x Webby award</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to action -->
        {% include 'partials/cta.html.twig' %}
{% endblock %}