{% extends 'partials/base.html.twig' %}

{% block content %}
<!-- Spotlight -->
<section class="slice slice-lg bg-gradient-primary" data-separator="rounded-left" data-separator-orientation="bottom" id="section_1">
    <div class="container pt-lg-md">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="display-4 text-white">Privacy Policy</h2>
                <h5 class="mb-4 text-white">We'll explain to you why we don't collect any unnecessary data, and keep it safe 🔒</h5>
            </div>
        </div>
    </div>
</section>
<section class="slice slice-lg">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-12 ml-lg-auto">
                <div class="mb-md">
                    <div class="py-4 border-bottom">
                        <p>Scope web (“Scope Web LLC”, “Scope”, or “We”) is very sensitive to the privacy needs of its website visitors and members (collectively, “You” or “User”) and recognizes the importance of protecting personally identifiable information that You may choose to share with Scope Web. This Online Privacy Policy (“Privacy Policy”) provides You with important information regarding Scope Web’s collection, storage and use of personally identifiable information.</p>
                        <p>This Privacy Policy applies only to personally identifiable information collected on the website(s) operated by Scope Web on which this Privacy Policy is posted (collectively, “Website”), and does not apply to any other information collected by Scope Web offline or through any other means.</p>
                        <p>Capitalized terms not defined in this Privacy Policy are defined in the Scope Web Terms of Service.</p>
                    </div>
                    <div class="py-4 border-bottom">
                        <h5 class="mb-3">Registration Information</h5>
                        <p>Scope Web never automatically collects any information that specifically identifies Users, such as their name, address, or e-mail address. Scope Web collects personally identifiable information from Users only when Users voluntarily provide it as part of the registration process (“Registration Information”) to open an Account. We always ask Users whenever we need Registration Information that identifies Users or allows us to contact Users.</p>
                        <p>Scope Web may collect and use personally identifiable information from Users for purposes other than to open an Account, e.g., such as subscribing to a newsletter, participating in polls, surveys, and questionnaires, using tell-a-friend features, participating in contests, sweepstakes, or other promotions, or receiving technical support.</p>
                    </div>
                    <div class="py-4 border-bottom">
                        <h5 class="mb-3">Consent and Security</h5>
                        <p>It is Your choice whether or not You provide Your Registration Information to Scope Web, but Registration Information is required in order for Scope Web to provide You with services.</p>
                    </div>
                    <div class="py-4 border-bottom">
                        <h5 class="mb-3">Use of Personally Identifiable Information</h5>
                        <p>Your personally identifiable information may be used internally within Scope Web and its subsidiaries, affiliated companies, or other businesses or persons for the purpose of processing such information in conformance with our Privacy Policy. We require that such other businesses and persons agree to comply with our Privacy Policy. For example, Scope Web may use Your personally identifiable information internally to provide access to You and process Your contributions to projects, to understand who uses the Website, to improve the Website, to provide updates on special events, news, and announcements of interest to our Users, and to contact You for customer service, payment, and billing purposes.</p>
                        <p>In addition, Scope Web reserves the right to disclose Your personally identifiable information under limited circumstances in the event Scope Web believes that the Website is being used to commit unlawful acts; if disclosure of Your personally identifiable information is required to comply with applicable laws or regulations, or with a court or administrative order; or will help to enforce our Terms of Service, to protect Your safety or security) including the safety and security of property that belongs to You) or to protect the safety and security of the Website or third parties.</p>
                        <p>From time to time, we may purchase a business or sell one or more of our businesses and Your personally identifiable information may be transferred as a part of the purchase or sale. The personally identifiable information transferred as a part of the purchase or sale would be treated in accordance with this Privacy Policy, if it is practicable and permissible to do so.</p>
                    </div>
                    <div class="py-4 border-bottom">
                        <h5 class="mb-3">Usage Information</h5>
                        <p>Non-personally identifying information (“Usage Information”) comprises information that does not identify any particular User. Examples include: information about which of Scope Web’s pages are visited on an aggregate level, browser type, operating system type, or IP address of a User.</p>
                        <p>Scope Web may collect other types of non-personally identifying information, e.g., age, date of birth, gender, hobbies, or other demographic information.</p>
                    </div>
                    <div class="py-4 border-bottom">
                        <h5 class="mb-3">Use of Usage Information</h5>
                        <p>Your Usage Information may be disclosed internally within Scope Web and to third parties. For example, Scope Web may disclose Usage Information in order to better understand which parts of the Website Users are visiting, to improve the content of the Website, and for marketing, advertising, or research purposes.</p>
                    </div>
                    <div class="py-4 border-bottom">
                        <h5 class="mb-3">Cookies and Log Files</h5>
                        <p>The Website uses a variety of technical methods for tracking purposes, including web beacons. Web beacons are small pieces of data that are embedded in images on the pages of websites. We also use these technical methods to analyze the traffic patterns on the Website, such as the frequency with which our Users visit various parts of the Website. These technical methods may involve the transmission of information either directly to us or to another party authorized by us to collect information on our behalf. We may collect information from use of these technical methods in a form that is personally identifiable.</p>
                        <p>You may, of course, decline to submit personally identifiable information through the Website, in which case Scope Web may not be able to provide certain services or features of the Website to You.</p>
                        <p>To protect Your privacy and security, we take reasonable steps (such as requesting a unique password) to verify Your identity before granting You access to your profile or making corrections. You are responsible for maintaining the secrecy of Your unique password and account information at all times.</p>
                        <p>If at any time You decide to remove Your personally identifiable information from our database, You may do so by emailing us at <a href="mailto:{{'info@scopeweb.nyc'|safe_email}}">info@scopeweb.nyc</a></p>
                        <p>Upon such removal, Scope Web may not be able to provide certain services or features of the Website to You.</p>
                    </div>
                    <div class="py-4 border-bottom">
                        <h5 class="mb-3">Third-party Advertisers, Links to Other Sites</h5>
                        <p>Scope Web may allow advertising services companies to serve advertisements within the Website. Advertising may be based on usage, text, demographic, or other information gathered by or on behalf of Scope Web. Scope Web’s Privacy Policy does not apply to, and we cannot control, the activities of advertisers.</p>
                        <p>This Privacy Policy applies only to the Website operated by Scope Web, and not to any other websites to which we may link.</p>
                    </div>
                    <div class="py-4 border-bottom">
                        <h5 class="mb-3">Our Commitment To Data Security</h5>
                        <p>Scope Web uses commercially reasonable physical, managerial, and technical safeguards to preserve the integrity and security of Your personally identifiable information. We cannot, however, ensure or warrant the security of any information You provide to Scope Web and You do so at Your own risk. Once We receive Your transmission of information, Scope Web makes commercially reasonable efforts to ensure the security of our systems. However, please note that this is not a guarantee that such information may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.</p>
                    </div>
                    <div class="py-4 border-bottom">
                        <h5 class="mb-3">Our Commitment To Children’s’ Privacy</h5>
                        <p>Protecting the privacy of young children is especially important. For that reason, Scope Web does not knowingly collect or maintain personally identifiable information or non-personally-identifiable information on the Website from persons under 13 years of age, and no part of our website is directed to persons under 13. If You are under 13 years of age, then please do not use or access the Website at any time or in any manner. If Scope Web learns that personally identifiable information of persons under 13 years of age has been collected on the Website without verified parental consent, then Scope Web will take appropriate steps to delete this information.</p>
                    </div>
                    <div class="py-4 border-bottom">
                        <h5 class="mb-3">Special Note to International Users</h5>
                        <p>The Website is hosted in the United States and is intended for and directed to Users in the United States. If You are accessing the Website from the European Union, Asia, or any other region with laws or regulations governing personal data collection, use, and disclosure, that differ from United States laws, please be advised that through Your continued access and use of Scope Web, which are governed by U.S. law, this Privacy Notice, and our Terms of Service, You are transferring Your personally identifiable information to the United States and You consent to that transfer.</p>
                    </div>
                    <div class="py-4 border-bottom">
                        <h5 class="mb-3">Effective Date</h5>
                        <p>This Privacy Policy is effective as of August 15, 2015 and will remain in effect unless changed. Scope Web may modify this Privacy Policy at any time, and such modifications shall be effective immediately upon posting of the modified Privacy Policy on the Website.</p>
                    </div>
                    <div class="py-4 border-bottom">
                        <h5 class="mb-3">Contacting the Website</h5>
                        <p>If You have any questions about this Privacy Policy, the practices of this Website, or Your dealings with this Website, please contact: <a href="mailto:{{'info@scopeweb.nyc'|safe_email}}">info@scopeweb.nyc</a></p>
                    </div>
                    <div class="text-right py-4">
                        <a href="#section_1" data-scroll-to data-scroll-to-offset="50">Back to top<i class="fas fa-long-arrow-alt-up ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to action -->
{% endblock %}